body{
    background-color: cyan;
}

h2{
    text-align: center;
}

.lower1{
    font-weight: bolder;
}

sub{
    color: red;
}

.lower2{
    font-weight: bolder;
    color: cornflowerblue;
}

.lower3{
    font-weight: bolder;
    color: darkblue;
}
